body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container-fluid {
  padding: 7% 15% !important;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 7% !important;
  text-align: left;
}

/* sectiom */
.colored-sec {
  background-color: #ff4c68;
  color: #fff;
}

.white-sec {
  background-color: #ffff;
}

/* heading */
.big-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem !important;
  line-height: 1.5;
}

.mid-head {
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation bar*/
.navbar {
  padding-bottom: 4.5rem !important;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 2.5rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem !important;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
  position: absolute;
  width: 18%;
  transform: rotate(25deg);
  top: 225px;
  right: 30%;
}

/* feture section */
#features {
  /* z-index: 1 ;    thiss can also be used*/
  position: relative;
}

.feature-tile {
  font-size: 1.5rem;
}

.feature-icon {
  text-align: center;
  padding: 5%;
}

.icon:hover {
  color: #ff4c68
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

p {
  color: #8f8f8f;
}

/* <!-- Testimonials  section--> */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-text {
  font-size: 1.5rem;
}

.pricing-colomn {
  padding: 3% 2% !important;
}

/* medeia query */
@media (max-width:1100px) {
  .title-img {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* footer section */
#cta {
  text-align: center;
}

.fianl_but {
  margin: 0 1%;
}

.cta-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align: center;
}

.foot-icon {
  margin: 0 10px;
}
